body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(2, 2, 49);
    background: #e9c579;
    justify-content: center;
}

h3 {
    justify-content: center;
    font-size: 30px;
}

p {
    font-size: 20px;
}

.tudo{
    padding: 30px;
}

.btnindex {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #c4a366;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #94805b;
}

.btnindex:hover {
    background-color: #9b7b3f
}

.btnindex:active {
    background-color: #816634;
    box-shadow: 0 5px #94805b;
    transform: translateY(4px);
}

.project {
    color: #fff;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    width: 45%;
    font-size: large;
    display: grid;
    align-items: center;
    justify-content: center;
}

.project-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: x-large;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.flip-card {
    background-color: transparent;
    width: 515px;
    height: 515px;
    border: 0px solid #f1f1f1;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: grid;
    align-items: center;
    justify-content: center;
}

.flip-card-front {
    background-color: #94805b;
    color: black;
}

.flip-card-back {
    background-color: #816634;
    color: white;
    transform: rotateY(180deg);
}